<!DOCTYPE html>
<html lang="en">
    
    <%- include ("../partials/head") %>
    

<body>
    <div class="body2">
        

        <%- include ("../partials/header2") %>

        <h1>Emisiones</h1>
        


        <% for (let i = 0; i < emisiones.length; i++) { %>

            <fieldset class="campo-emision">
                <div class="primer-fila">
                    <h3><%= emisiones[i].programa.programa %></h3>
                    <!-- <input name="id" type="radio" style="color:#8C8C8C" value="<%= emisiones[i].id %>" > -->
                </div>
                
                <p> <%= emisiones[i].fecha %> </p>
                
                <div class="botones">
                    <a href="/emisiones/<%= emisiones[i].id %>"> <button class="ver"  >Ver Créditos</button> </a>
                    <!-- <button class="modificar">Modificar</button> -->
                    <!-- <i class="fas fa-trash-alt"></i> -->
                    <form action="/emisiones/delete/<%=emisiones[i].id %>?_method=DELETE" method="POST">
                        <button type="submit" class="delete"> <i class="fas fa-trash-alt"></i> </button>
                    </form>
                </div>
            </fieldset>

        <% } %> 
    
    

    <!-- <form action="/emisiones/publicar/<%=  %>?_method=PUT" method="POST"> -->
            <!-- <button type="submit" class="publicar">Publicar</button> -->

        <!-- </form> -->
       
            
        
    </div>
</body>